.CustomerPortalBar_customerPortalBarContainer__C9SP7 {
    height: 8.75vh;
    width: 100%;
    background-color: #4c4c4c;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 99
}

.CustomerPortalBar_iconsContent__VWo2p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86.4%
}

.CustomerPortalBar_iconsContent__VWo2p svg {
    width: 1.7em;
    padding-top: .6em;
    padding-bottom: .6em;
    border-bottom: 0 solid #fe814b
}

.CustomerPortalBar_hoverName__hh6rY {
    display: none
}

@media (min-width:1024px) {
    .CustomerPortalBar_customerPortalBarContainer__C9SP7 {
        width: 48.958vw;
        right: .85em;
        bottom: .7em;
        border-bottom-left-radius: .9em;
        border-bottom-right-radius: .9em;
        height: 6.666vh
    }

    .CustomerPortalBar_customerPortalBarContainer__C9SP7 a,
    .CustomerPortalBar_customerPortalBarContainer__C9SP7 button,
    .CustomerPortalBar_hoverName__hh6rY {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .CustomerPortalBar_hoverName__hh6rY {
        position: absolute;
        bottom: 6.8vh;
        height: 4.222vh;
        background-color: #eeece7;
        color: #a39b8b;
        font-family: Aeonik;
        letter-spacing: -.01em;
        white-space: nowrap;
        border-radius: .3em;
        padding-left: .8em;
        padding-right: .8em;
        font-size: .9em;
        opacity: 0;
        pointer-events: none
    }
}

.separateLine_separateLine__XZlUb span {
    position: absolute;
    width: .5em;
    aspect-ratio: 1/.15
}

.separateLine_separateLine__XZlUb span:first-child {
    transform: rotate(90deg)
}

.separateLine_separateLine__XZlUb {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.pebble_customerPortal__PUTK8 {
    z-index: 99;
    position: relative
}

.pebble_pebbleContainer__IDazl {
    background-color: #fdfdfd;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: calc(8.75vh);
    position: relative
}

.pebble_imageContainer__25wc5 {
    height: 22.85em;
    width: 100%;
    padding-top: .3em;
    padding-left: .3em;
    padding-right: .3em;
    margin-bottom: 3.25em
}

.pebble_imageContainer__25wc5 img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: .5em
}

.pebble_homeButton__LXChb {
    width: 4.65em;
    top: .7em;
    left: .7em;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 99;
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    cursor: pointer
}

.pebble_homeButton__LXChb svg {
    width: 33%
}

.pebble_homeButtonDesktop__s_Tz5 {
    display: none
}

.pebble_title__DlLxH {
    font-family: Youth;
    font-size: 2.85em;
    color: #575349;
    font-weight: 500;
    margin-bottom: 1.45em;
    letter-spacing: -.03em
}

.pebble_CTAContainer__lPE__ {
    width: 92%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5.4em
}

.pebble_CTA__Cm8mE {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #e6e4e3;
    border-radius: .5em;
    padding: 1.25em 1em;
    font-family: Youth;
    color: #61574e;
    margin-bottom: .82em;
    cursor: pointer
}

.pebble_iconAndTextCTAContainer__t5mGn {
    display: flex;
    gap: .8em;
    align-items: center
}

.pebble_iconContainer__27l8p {
    border: 1px solid #e6e4e3;
    border-radius: .5em;
    width: 2.6em;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center
}

.pebble_iconContainer__27l8p svg {
    width: 35%
}

.pebble_iconAndTextCTAContainer__t5mGn span {
    font-size: 1.2em
}

.pebble_arrow__qJLJg {
    width: .8em
}

@media (min-width:1024px) {
    .pebble_customerPortal__PUTK8 {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: .85em;
        background-color: #eeece8;
        overflow: hidden;
        align-items: center;
        font-size: 1em
    }

    .pebble_desktopImage__dPBLh {
        width: 48.958vw;
        height: 97.77%;
        -o-object-fit: cover;
        object-fit: cover;
        position: fixed;
        left: .85em;
        border-radius: .9em
    }

    .pebble_pebbleContainer__IDazl {
        width: 48.958vw;
        min-height: 97.77vh;
        height: 97.77vh;
        padding-bottom: 0;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        border-radius: .9em
    }

    .pebble_pebbleContainer__IDazl::-webkit-scrollbar {
        display: none
    }

    .pebble_imageContainer__25wc5 {
        display: none
    }

    .pebble_homeButtonDesktop__s_Tz5 {
        width: 4.65em;
        top: 1.5em;
        left: 1.5em;
        position: fixed;
        aspect-ratio: 1/1;
        z-index: 99;
        background-color: #fdfdfd;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .5em;
        cursor: pointer
    }

    .pebble_homeButtonDesktop__s_Tz5 svg {
        width: 33%
    }

    .pebble_title__DlLxH {
        font-size: 3.15em;
        margin-bottom: .94em
    }

    .pebble_CTAContainer__lPE__ {
        width: 56.737%;
        margin-bottom: 12.5em
    }
}

@media (min-width:1900px) {
    .pebble_customerPortal__PUTK8 {
        font-size: .9em
    }
}

@media (min-width:768px) {
    .pebble_customerPortal__PUTK8 {
        font-size: 1.1em
    }
}

@media (max-width:350px) {
    .pebble_customerPortal__PUTK8 {
        font-size: .9em
    }
}