.legacy_content__JdRf0 h1 {
    font-family: Youth;
    font-weight: 500;
    letter-spacing: -.04em;
    color: #575349;
    text-align: center;
    font-size: 2.5em;
    width: 70%;
    line-height: 110%;
    margin-bottom: 1em
}

.legacy_content__JdRf0 p {
    font-family: Aeonik;
    color: #a39b8b;
    font-weight: 400;
    letter-spacing: -.01em;
    text-align: center;
    max-width: 90%;
    margin-bottom: 3.15em;
    font-size: 1.25em
}

.legacy_content__JdRf0 h2 {
    color: #575349;
    font-family: Youth;
    letter-spacing: -.01em;
    font-weight: 500;
    margin-bottom: 1.3em;
    font-size: 1.25em
}

.legacy_content__JdRf0 a {
    background-color: #efede8;
    border-radius: .5em;
    font-family: FTPolarMono;
    text-transform: uppercase;
    color: #575349;
    font-weight: 400;
    letter-spacing: .05em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.3em;
    padding-bottom: 2.3em;
    font-size: .78em;
    width: 46.66%
}

.legacy_resetPasswordContainer__lndN1 {
    background-color: #fdfdfd;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 99
}

.legacy_imageContainer__JpEB5 {
    height: 22.85em;
    width: 100%;
    padding-top: .3em;
    padding-left: .3em;
    padding-right: .3em;
    margin-bottom: 3.9em
}

.legacy_imageContainer__JpEB5 img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: .5em
}

.legacy_homeButton__M2ESt {
    width: 4.65em;
    top: .7em;
    left: .7em;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 99;
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    cursor: pointer
}

.legacy_homeButton__M2ESt svg {
    width: 35%
}

.legacy_content__JdRf0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.legacy_title__dH0j9 {
    font-family: Youth;
    font-size: 2.8em;
    color: #575349;
    font-weight: 500;
    margin-bottom: .35em;
    letter-spacing: -.03em
}

.legacy_subtitle__KhQNh {
    color: #a39b8b;
    font-family: Aeonik;
    font-size: 1.2em;
    margin-bottom: 1.95em;
    text-align: center
}

.legacy_formContainer__SpUVP {
    width: 92%
}

.legacy_formContainer__SpUVP,
.legacy_form__0BaxD {
    display: flex;
    flex-direction: column;
    align-items: center
}

.legacy_form__0BaxD {
    width: 100%
}

.legacy_form__0BaxD input {
    width: 100%;
    padding: 1.33em .8em;
    border-radius: .5em;
    border: 1px solid #d6d4d1;
    font-family: Aeonik;
    font-weight: 400;
    color: #575349;
    font-size: 1.08em;
    outline: none;
    margin-bottom: 1.2em
}

.legacy_form__0BaxD input::-moz-placeholder {
    color: #a39b8b
}

.legacy_form__0BaxD input::placeholder {
    color: #a39b8b
}

.legacy_form__0BaxD button {
    background-color: #efede8;
    font-family: FTPolarMono;
    text-transform: uppercase;
    font-weight: 100;
    color: #575349;
    width: 57.97%;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 2.9em;
    font-size: .85em;
    padding-top: 2.1em;
    padding-bottom: 2.1em;
    letter-spacing: .05em;
    margin-bottom: 1.8em
}

.legacy_forgotEmailCTA__4JAAu {
    font-family: Aeonik;
    font-weight: 400;
    color: #575349;
    text-decoration: underline;
    font-size: 1.05em;
    text-underline-offset: .25em;
    cursor: pointer
}

.legacy_emailSentInfo__h7SRG {
    font-family: Aeonik;
    font-weight: 400;
    color: #575349;
    font-size: 1.25em
}

.legacy_tryAgainButton__jBAQ_ {
    background-color: #efede8;
    font-family: FTPolarMono;
    text-transform: uppercase;
    font-weight: 100;
    color: #575349;
    width: 57.97%;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 2.4em;
    font-size: .85em;
    padding-top: 2.1em;
    padding-bottom: 2.1em;
    letter-spacing: .05em;
    margin-bottom: 1.5em
}

.legacy_backToSignInCTA__QimpG {
    font-family: Aeonik;
    font-weight: 400;
    color: #575349;
    text-decoration: underline;
    font-size: 1.05em;
    text-underline-offset: .25em;
    cursor: pointer
}

@media (min-width:1024px) {
    .legacy_resetPasswordContainer__lndN1 {
        height: 100vh;
        flex-direction: row;
        justify-content: space-between;
        padding: .8em .7em
    }

    .legacy_content__JdRf0 h1 {
        font-size: 3.22em;
        width: 61.773%;
        padding-top: 0;
        line-height: 98%
    }

    .legacy_content__JdRf0 p {
        margin-bottom: 2.45em;
        font-size: 1.153em;
        max-width: 55%
    }

    .legacy_content__JdRf0 h2 {
        font-size: 1.15em;
        margin-bottom: 1.2em
    }

    .legacy_content__JdRf0 a {
        width: 31.91%;
        padding-top: 2.17em;
        padding-bottom: 2.17em;
        font-size: .75em
    }

    .legacy_imageContainer__JpEB5 {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 48.958vw;
        position: relative
    }

    .legacy_imageContainer__JpEB5 img {
        border-radius: .8em
    }

    .legacy_homeButton__M2ESt {
        top: .8em;
        left: .8em
    }

    .legacy_content__JdRf0 {
        width: 48.958vw
    }

    .legacy_formContainer__SpUVP {
        width: 27.777vw
    }

    .legacy_title__dH0j9 {
        font-size: 3.45em;
        margin-bottom: .31em
    }

    .legacy_subtitle__KhQNh {
        font-size: 1.23em;
        margin-bottom: 2.63em
    }

    .legacy_forgotEmailCTA__4JAAu {
        font-size: 1.22em;
        margin-bottom: .58em
    }

    .legacy_form__0BaxD button {
        width: 43.75%
    }

    .legacy_backToSignInCTA__QimpG {
        font-size: 1.22em
    }

    .legacy_emailSentInfo__h7SRG {
        font-family: Youth;
        font-weight: 500;
        font-size: 1.22em;
        margin-bottom: .85em
    }

    .legacy_tryAgainButton__jBAQ_ {
        width: 31.91%
    }
}